body {
    overflow-x: hidden;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}
.header {
    width: 100%;
    background-image: url(../images/home2.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.header-top{
    border-bottom: 1px solid #fff;
    padding: 5px 0;
}
.header-top-left img {
    display: inline;
    margin-left: 20px;
    max-width: 50%;
}
.container-fluid{
    padding-left: 0;
    padding-right:0;
}
.container{
    width: 100%;
}
.nav-menu li a{
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    
}
.nav-menu li a:hover{
    text-decoration: none;
    opacity: 1;
}
.nav-menu li:hover > .sub-menu{ display: block}

.nav-menu > li{
    list-style-type: none;
   display: inline-block;
   padding-right: 18px;
   position: relative;
   margin-right: 32px;
}
.sub-menu{
padding: 8px 0;
background: #292929;
position: absolute;
z-index: 99;
display:none;
width: auto;
white-space: nowrap;
line-height: 24px;
}
.sub-menu li{
    width: 200px;
    overflow: hidden;
    display: inline-flex;
}
.sub-menu-list li{
    display: block;
}
.sub-menu-list li a{
padding: 6px 24px;
display: block;
opacity: 0.5;
}
.nav-menu > li:after {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 11px;
    content: "\e64b";
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color: #fff;
}
.sub-menu-list-dropdown{
    width: 200px;
    overflow: hidden;
    display: none;
}
.image-hover{
    top: 40%;
    z-index: 2;
    position: absolute;
    width:100%;
    text-align: center;
    display: none;
   
}
.image-hover a{
    color: #fff;
    text-decoration: none; 
}
.image-hover h4{
font-size: 24px;
font-weight: 400;
line-height: 32px;
text-transform: uppercase;
letter-spacing: 3px;
}
.image-hover h6{
font-size: 12px;
font-weight: 400;
line-height: 24px;
text-transform: uppercase;
}

.background-image:hover > .img-container{
    opacity: 0.2;
}
.background-image:hover > .image-hover{
    display: block;
    transition: all linear 0.5s;
    /* transition: 0.8s ease; */
}

.hover-background{
    position: relative;
    overflow: hidden;
    background: #292929;
}

.label {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    background: #47b475;
    border-radius: 0;
    padding: 6px 12px;
    font-size: 10px;
    vertical-align: middle;
}.agency{
    width: 50%;
    float: left
}
.header-bottom{
    color: #fff;
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
}
.header-bottom h1 {
        font-size: 72px;
        line-height: 80px;
        font-weight: 100;
}
.mb{
    margin: 0px 10px 25px 10px;
}

.try_builder {
    background-color: transparent;
    padding: 10px 45px;
    font-weight: bold;
    margin-right: 15px;
}
.try_builder:hover{
    background-color: #fff;
    color:#13181d;
}
.purchase_foundry{
    background-color: #47b475;
    border: none;
    padding: 12px 20px;
    font-weight: bold;
}
.purchase_foundry:hover{
    background-color: #fff;
    color:#13181d;
}
.body {
    background-color: #f8f8f8;
}
.ti-layout-grid2:before {
    content: "\e709";
}
.left i{
    color: #47b475;
    font-size: 32px;
}
.left{
    width: 15%;
}
.right{
    width: 85%;
}
.right h3{
    margin-top: 0px;
}
.copyright{
    background-color: #13181d;
}
.copyright img{
    max-width: 100px;
    max-height: 100px;
} 
.copyright h6{
    color: #fff;
}  